*{
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
}

header
{
    padding: 10rem 10rem 1rem;
}

body
{
    background-size: cover;

    background-image: url('resources/galax.gif');
/* =======
    background-image: url('resources/inline_image_preview.gif'); */
    background-size: cover;

    background-repeat: no-repeat;
}

form h1
{
    text-align: center;
}

form
{
    max-width: 30%;
    min-width: min-content;
    width: auto;
    box-sizing: border-box;
    display: flexbox;
}

 label
 {
    display: inline-block;
    padding: 8px 2px;
    font-size: 18px;
 }
 
 label.year
 {
    display: block;
 }

 input, option
{
    width: 100%;
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin: 10px 0;
}

button
{
    width: 100%;
    background-color: rgb(183,161,255);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 15px 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border: rgba(0, 0, 0, 0.55);
    border-style: solid;
    border-width: 1px;
}

.container
{  
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 5rem 5rem 10rem; */
}
    
    .form-box
    {
        /* border-box emphasizes form */
        border: 1px solid rgb(183,161,255);
        border-radius: 5px;
        background-image: none;
        background-color: rgba(255, 255, 255, 0.397);
        box-shadow: -2px 2px 5px rgb(0,0,0);
        padding: 35px 15px;
        width: 50%;
    }

/* Horoscope Card */
.horoscope-card 
{
    border: 1px solid rgb(183,161,255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: -2px 2px 5px rgb(0,0,0);
    padding: 35px 15px;
    width: 20%;
    text-align: center;
    line-height: 1.5;
}

.horoscope-card img
{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-bottom: 3%;
    padding-top: 4%;
}

/* Footer */
footer
{
    display: inline-flexbox;
    height: 300px;
    margin-bottom: 75px;
    margin-top: 115px;
}

h5.footer
{
    margin: 0;
    text-align: left;
}

footer img
{
   width: 45px;
   height: 45px; 
   box-sizing: inherit;
   border-radius: 50%;  
}

a
{
    display: inline-block;
}

p
{
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

div.footer-icons-right
{
    margin: 15px 15px;
    display: inline-block;

}

.icons
{
    position: absolute;
    /* position: relative; */
    display: block;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    align-items: right;
}

.boxBeGone {
  
    opacity: 0;
} 

h2{
    padding-bottom: 3%;
}

h4{
    padding-bottom: 1em;
}