*{
    margin: auto;
    font-family: 'Playfair Display', serif;;
}

header
{
    border: 1px solid rgb(255,0,0);
    padding: 5rem 10rem 1rem;
}

body
{
    background-size: cover;
    background-image: url(/Users/jaylabullard/Desktop/Projects/PersonalProjects/ZodiacSimulator/resources/inline_image_preview.jpg);
}

form h1
{
    text-align: center;
}

 label
 {
    display: inline-block;
    padding: 8px 2px;
    font-size: 18px;
 }
 
 label.year
 {
    display: block;
 }

 input
{
    width: 100%;
    padding: 5px 2px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin: 5px 0;
}

button
{
    width: 100%;
    background-color: rgb(183,161,255);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 15px 5px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border: rgb(0,0,0, 0.50);
    border-style: solid;
    border-width: 1px;
}

.container
{  
    /* A visual for divs, will remove later */
    border: 3px solid rgb(0,0,0);
    padding: 10rem 10rem 5rem;
}
    
    .form-box
    {
        /* border-box emphasizes form */
        border: 1px solid rgb(183,161,255);
        background-image: none;
        background-color: rgb(255,255,255, 0.45);
        padding: 35px 15px;
        border-radius: 25px;
        width: 50%;
        box-shadow: -2px 2px 5px rgb(0,0,0);
    }

footer
{
    padding: 20px;
    display: inline-flexbox;
}

h5.footer
{
    margin: 0;
    text-align: left;
}

footer img
{
   width: 45px;
   height: 45px; 
   box-sizing: inherit;
   border-radius: 50%;
}

a
{
    display: inline-block;
}

p
{
    font-weight: bold;
    font-size: 18px;
}
div.footer-icons-right
{
    margin: 15px 15px;
    display: inline-block;

}

.icons
{
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    align-items: right;
}



